<!DOCTYPE html>
<html class="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="color-scheme" content="dark">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body class="bg-zinc-900">
        <div class="flex h-screen">
            {% block main_header %}{{ include('_layout/sidebar.twig') }}{% endblock %}
            
            {# main area #}
            <div class="flex flex-col grow">
            
                {# "main" #}
                <div class="flex flex-col overflow-y-hidden my-4 mr-4 grow border-lg rounded-2xl basic-border">

                    {# meta #}
                    <div class="flex p-4 bg-zinc-800 basic-border-b">
                        <h1 class="text-lg">beatmap info</h1>
                    </div>

                    {# actual body content #}
                    <div class="bg-zinc-850 grow">
                        {# body content width #}
                        <div class="w-6xl m-auto mt-4">
                            {% block body %}{% endblock %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </body>
</html>
