@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "torus.css";

@custom-variant dark (&);

@theme {
  --font-sans: "Torus", ui-sans-serif, system-ui, sans-serif;
  --color-zinc-850: #1d1d21;
}

:root {
  color-scheme: dark;
}

.basic-border {
  @apply border border-white/10;
}

.basic-border-t {
  @apply border-t border-white/10;
}

.basic-border-b {
  @apply border-b border-white/10;
}

.basic-outline {
  @apply outline-1 outline-white/10;
}

.markdown-render {
  @apply prose prose-zinc dark:prose-invert;
  font-family: Inter;
}

.flag-country {
    --height: 1.25em;
    --width-height-ratio: calc(100 / 72);

    height: var(--height);
    width: calc(var(--height) * var(--width-height-ratio));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    position: relative;
    display: block;
    filter: saturate(1);    
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .25));
}

.flag-country::after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

        background: inherit;
        border-radius: inherit;
        filter: contrast(0) brightness(2);
        opacity: 0.25;
        content: "";
}

.beatmapset-status-list {
  @apply py-0 px-3 text-shadow-none rounded-3xl text-center text-zinc-800 font-bold inline-flex items-center justify-center shadow-xl;
}