<div class="w-64 m-0
            flex flex-col
            bg-gray-900 text-white">

    <div class="m-6 flex flex-col grow">

        {# Title thing #}
        <div>
            <div class="text-3xl">Hyperspin</div>
            <p>spin to win!<p>
        </div>

        {# navbar #}
        <div class="flex grow">
        </div>

        {# User thing #}
        <div>
            {% if app.user %}
                <div class="flex flex-row items-center gap-3
                            border rounded p-2">
                    <img class="w-12 rounded" src="{{ app.user.getAvatarUrl() }}">
                    <div>{{ app.user.getUsername() }}</div>
                </div>
            {% else %}
                <a href="/auth/steam">Log in with Steam</a>
            {% endif %}
        </div>
    </div>
</div>